* {
    --primary-color:#82589F;
    --second-color:#CAD3C8;
    --feature-second-color:#FFF;
    --feature-primary-color:#D6A2E8;
    --feature-color:#F97F51;
    --primary-font: 'Roboto', sans-serif;
    --light-color: #FFF;
    --dark-color:#2C3A47;
}