* {
    --primary-color:#12225d;
    --second-color:#87F016;
    --feature-second-color:#60A317;
    --feature-primary-color:#2E58F0;
    --feature-color:#F06B46;
    --primary-font: 'Roboto', sans-serif;
    --light-color: #FFF;
    --dark-color:#000;
}