.section {
    background-color: var(--feature-color);
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid var(--feature-primary-color);
}

.main-section > .main-title {
    margin-bottom: 60px;
    padding-top: 50px;
}

.main-section.-bgBlack {
    background-color: var(--dark-color);
}

.main-section.-bdSecond {
    border-color: var(--feature-second-color);
}