.main-title {
    font-family: var(--feature-font);
    font-size: 40px;
    text-shadow: 4px 4px 0 var(--dark-color);
}

.main-title.-second {
    color: var(--light-color);
    text-align: center;
}